*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e6e6e6;
}



.danger-bg{
  background-color: red;
}

.dead.bg{
  background-color: #000000 !important;
}

.userInfo{
  padding: 15px;
}

.img-container{
  width: 50%;
  margin: 0 auto;
}
.testImg{
  display: block;
  width: 25%;
  margin: 0 auto;
}

#parent{
    background-color: #6ab1cf;
    color: white;
  }


