extends layouts/app

block seo
  title pug testing

block content
  h1 Testing Puge Template Engine
    .card
    if loggedIn
        p 
          user= `username: ${username}`
          p #{fname} #{lname}
          for user in userbank
            li= user
              
  