doctype html
html(lang="en")

head
  block seo

  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible")
  link(rel="stylesheet", href="css/app.css")

body
  header
    .logo CodingPhase
  block content